/* Main WebPage CSS*/

body {
    font-family:"Lucida Grande","Droid Sans",Arial,Helvetica,sans-serif;
    background-color: rgba(255, 127, 14, 0.15);
    border-style: solid;
	border-width: 1px;
	border-color: rgba(240, 173, 78, 0.7);
}
input[placeholder]{
    text-align:center;
}
textarea[placeholder]{
    text-align:center;
}
footer {
    bottom: 0;
    width: 100%;
    padding: 12px;
    background-color: rgba(240, 173, 78, 0.45);
    font-size: 16px;
    border-style: solid;
	border-width: 1px;
	border-color: rgba(240, 173, 78, 0.7);
}
footer a{
	text-decoration: none;
	color: rgba(0,0,0,0.8);
	font-weight: 600;
}

html,body{
    height: 100% !important;
}

#charts{
	border-style: solid;
	border-width: 1px;
	padding: 20px;
	border-radius: 6px;
	border-color: #4cae4c;
	width: 1000px;
	height: 620px;
}
hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #4cae4c;
    margin: 1em 0;
    padding: 0; 
}

/*Word Cloud Css*/
.legend {
    border: 1px solid #555555;
    border-radius: 5px 5px 5px 5px;
    font-size: 0.8em;
    margin: 10px;
    padding: 8px;
}
.bld {
    font-weight: bold;
}
div.tooltip { 
	position: absolute;     
	text-align: center;     
	width: 200px;          
	padding: 2px;       
	font: 14px Verdana;    
	background: #ABA9D0; 
	border: 1px;    
	border-radius: 8px;     
	pointer-events: none;     
	font-weight: 10px;
	height:auto;
	overflow:auto;
	color: #161265;
}

text {
	cursor: pointer;
}
.overlay {
  fill: none;
  pointer-events: all;
}