/* Main WebPage CSS*/

body{
	font-family: verdana;
}
input[placeholder]{
    text-align:center;
}
textarea[placeholder]{
    text-align:center;
}
table{
	font-size: 12px;
	background-color: rgba(255,255,255,0.8);
}
.table-css{
	border-style: solid;
	border-radius: 10px !important;
	border-width: 1px !important;
	border-color: #faebcc;
}
th a{
	text-decoration: none;
	color: rgba(255,0,0,0.6);
}
th a:hover{
	text-decoration: none;
	color: rgba(255,0,0,0.8);
}
td{
	text-align: left !important;
	padding-left: 15px !important;
}
th{
	text-align: left !important;
	padding-left: 10px !important;
	padding-top: 12px !important;
	padding-bottom: 12px !important;
}
td a{
	text-decoration: none;
	color: rgba(255,0,0,0.8);
}
td a:hover{
	text-decoration: none;
	color: rgba(255,0,0,1);
}
footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 12px;
    background-color: rgba(0,0,0,0.1);
    font-size: 16px;
}
footer a{
	text-decoration: none;
	color: rgba(0,0,0,0.8);
	font-weight: 600;
}

html,body{
    height: 100% !important;
}

#holder {
    min-height: 100% !important;
    position:relative !important;
}

#body {
    padding-bottom: 100px !important;
    min-height: 800px !important;
}

#footer{
    bottom: 0 !important;
    height: 50px;
    left: 0;
    position: absolute !important;
    right: 0;
}

body {
    font-family:"Lucida Grande","Droid Sans",Arial,Helvetica,sans-serif;
}
.legend {
    border: 1px solid #555555;
    border-radius: 5px 5px 5px 5px;
    font-size: 0.8em;
    margin: 10px;
    padding: 8px;
}
.bld {
    font-weight: bold;
}
div.tooltip { 
	position: absolute;     
	text-align: center;     
	width: 200px;          
	padding: 2px;       
	font: 14px Verdana;    
	background: #ABA9D0; 
	border: 1px;    
	border-radius: 8px;     
	pointer-events: none;     
	font-weight: 10px;
	height:auto;
	overflow:auto;
	color: #161265;
}

text {
	cursor: pointer;
}
#charts{
	border-style: solid;
	border-width: 1px;
	padding: 20px;
	border-radius: 6px;
	border-color: #4cae4c;
}
